{% extends 'blogapp/index.html'%}
{% block title%}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container content-section p-lg-3">
        <form action="{% url 'login'%}" method="post">
            {% csrf_token %}
            <div class="h6 pt-1">Login Here</div><hr class="mt-1 mb-lg-2">
            <fieldset class="form-group h3 font-weight-normal">
                <legend class="border-bottom mb-0">
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Log In</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Don't have an account? <a href="{% url 'register'%}" class="ml-2">Register here</a>
            </small>
        </div>
    </div>
{% endblock %}