{% extends 'blogapp/index.html'%}
{% block title%}Confirm Password Reset{% endblock %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container content-section p-lg-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="h6 pt-1">Confirm Password reset</div><hr class="mt-1 mb-lg-2">
            <fieldset class="form-group h3 font-weight-normal">
                <legend class="border-bottom mb-0">
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}