{% extends 'blogapp/index.html'%}
{% block title%}Sign Up{% endblock title %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container content-section1">
        <form action="{% url 'register'%}" method="post">
            {% csrf_token %}
            <div class="h6 p-0">Register Here</div><hr class="mt-0 mb-lg-2">
            <fieldset class="form-group h3 font-weight-normal pb-0 mb-0 pt-0 ">
                <legend class="border-bottom m-0">
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group mb-1 mt-1">
                <button type="submit" class="btn btn-outline-info">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-0">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login'%}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}